.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}
.footerLink{
  color: #f6eeee;
}
.footerLink:hover{
  color: #000;
}


/* CSS */
.button-33 {
  
    
  
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(202, 29, 29, 0.2) 0 -25px 18px -14px inset,rgba(187, 65, 44, 0.15) 0 1px 2px,rgba(44, 53, 187, 0.15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 68, 187, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: 'Indie Flower', cursive;
  font-weight: 1000;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(214, 31, 220, 0.25) 0 2px 4px,rgba(44, 125, 187, 0.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(227, 53, 239, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}